// FONTS
$body-font-family: 'DM Sans', sans-serif !default
$heading-font-family: 'RedHatDisplay', sans-serif !default

$header-background: none
$header-border-bottom-width: 0

$breadcrumb-below-h1: false !default

// TYPOGRAPHY
// Heading
$h1-weight: 600
$h1-size: pxToRem(40) !default
$h1-size-desktop: pxToRem(80) !default
$h1-line-height: 100% !default

$h3-font-family: $body-font-family !default
$h3-size: pxToRem(22) !default
$h3-size-desktop: pxToRem(26) !default
$h3-weight: 400 !default
$h3-line-height: 120% !default
$h3-letter-spacing: -1% !default

$h5-line-height: 110% !default

$h4-size-desktop: pxToRem(26) !default

// Header 
$header-nav-padding-y: pxToRem(8) !default
$header-nav-padding-y-desktop: pxToRem(16) !default

// Body
$body-line-height: 140% !default
$body-line-height-desktop: $body-line-height !default
$body-size-desktop: pxToRem(20) !default
$body-weight: 500 !default
$body-letter-spacing: -1% !default


// Meta
$meta-font-family: $body-font-family !default
$meta-weight: 600
$meta-size-desktop: pxToRem(16) !default
$meta-size: pxToRem(14) !default


// Quotes
$quote-font-family: $body-font-family !default
$quote-size-desktop-short: pxToRem(16) !default
$quote-size-desktop-long: pxToRem(20) !default
$quote-size-desktop: pxToRem(16) !default
$quote-size: pxToRem(16) !default
$quote-weight: 600 !default
$quote-style: normal !default 

/* Signature */
$signature-size-desktop: pxToRem(14) !default
$signature-size: pxToRem(14) !default

/* Meta */
$meta-size-desktop: pxToRem(18) !default

/* Meta */
$breadcrumb-color:  hsla(0,0%,7%,.8)
$breadcrumb-below-h1: false !default


// COLORS
$color-background: #F9F9F9 !default
$color-background-dark: #0C2A2B !default

$color-text: #191919 !default
$color-text-light: #474747 !default
$color-text-secondary: #FDDA98 !default
$color-accent: #0C2A2B !default
$color-hero: #7ECD96 !default
/*$color-hero: #FDDA98 !default*/

$color-hero-background-1: #D47F46 !default
$color-hero-background-2: #C4CCF0 !default
$color-hero-background-3: #FAF2E7 !default
$color-hero-background-4: #FDDA98 !default


// TOC
$toc-color: $color-text !default
$toc-active-color: $color-accent !default
$toc-background-color: $color-background !default
$toc-font-size-desktop: $body-size-desktop !default
$toc-title-font-size-desktop: $body-size-desktop !default


// HERO
$hero-background-color: $color-hero  !default
$footer-background-color: $color-background-dark !default
$hero-height-desktop: 200px !default

//Button
$btn-color: $color-text !default
$btn-background: none !default
$block-call-to-action-accent-button-background: $color-hero  !default
$btn-color-border: $color-text !default
$btn-border: solid 1px $color-text !default
$btn-border-radius: pxToRem(8) !default
$btn-hover-color: $color-text !default
$btn-hover-background: $color-background !default
$btn-hover-border: solid 1px $color-background !default
$btn-font-size-desktop: pxToRem(18) !default
$btn-font-family: $body-font-family !default
$btn-font-weight: 600 !default
$btn-padding: 1.125rem 1rem !default


// Spacing


$space-unit: 4
$spacing-1: space(2) !default   // 8px
$spacing-2: space(3) !default   // 12px
$spacing-3: space(6) !default   // 24px
$spacing-4: space(12) !default  // 48px
$spacing-5: space(16) !default  // 64px
$spacing-6: space(32) !default  // 128px
$spacing-7: space(64) !default  // 256px

// GRID
$grid-max-width: pxToRem(1360) !default
// Grid System



//BLOCK
// Under desktop breakpoint
$block-space-y: $spacing-3 !default
// Upper desktop breakpoint without sidebar 
$block-space-y-desktop: $spacing-6 !default
// Upper desktop breakpoint with sidebar 
$block-space-y-with-sidebar: $spacing-6 !default



//FOOTER
$footer-background-color: #0C2A2B !default
$footer-color: white !default